/*
    Navigation 
*/
.navigate {
    background-color: #6E8A95;
    padding: 1vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

a.navigate {
    border-radius: 10px;
    background-color: #CDCDCD;
}
/* 
    css for myAboutMe.html
*/
@font-face {
    font-family: 'Silkscreen-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Silkscreen/Silkscreen-Regular.ttf');
}
body{
    margin: 0;
    background-color: #C6C1AE;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

iframe {
    border: 0px;
}

h1.name {
    font-family: 'Silkscreen-Regular';
    font-size: 5em;
    text-align: center;
}

img#cat {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

div.content {
    display: flex;
    justify-content: space-around;
}

div.box {
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: auto;
    margin-bottom: 5vh;
    padding: 2vw;
    border-radius: 10px;
    background-color: #9AAFA4;
}

header h1 {
    margin-top: 5vh;
    text-align: center;
}

header h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0vh;
}

strong {
    color: #D7000F
}

em {
    color: #DAD0B8
}

/*
    css for myContacts.html
*/

img#picture {
    display: block;
    max-width: 25%;
    margin-left: auto;
    margin-right: 10vw;
    margin-top: 5vh;
}

.contactList {
    display: block;
    float: left;
    margin-left: 10vw;
    margin-top: 7vh;
}

img.embed {
    width: 5vw;
    height: 6vh;
    display: none;
}

address {
    float: left;
}

tr.yellow {
    background-color: yellow;
}

tr.white {
    background-color: white;
}

/*
    css for myWidgets.html
*/
section.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.flex {
    width: 50%;
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

div.contactform {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2vw;
    border-radius: 10px;
    background-color: #9AAFA4;
    height: auto;
}

#message{
    width: 40vw;
    height: 20vh;
}

div fieldset{
    border-radius: 10px;
    margin-right: 30vw;
}

.required:after {
    content:" *";
    color: red;
}

.login{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 2vw;
    border-radius: 10px;
    background-color: #9AAFA4;
    height: auto;
}