doctype html
head
  meta(charset='UTF-8')
  title Contact Me Page
  link(rel='styleSheet' href='/css/myStyle.css')
  script(async='' defer='' src='/js/contactMe.js')
nav.navigate
  a.navigate(href='myAboutMe') About Me
  a.navigate(href='contactMe') Contact Me
  a.navigate(href='myContacts') Contacts
  a.navigate(href='myWidgets') Widgets
  a.navigate(href='contactLog') Contact Log
  if isLogin
    a.navigate(href='logout') #{name}
  else
    a.navigate(href='login') Login

if isSubmitted
  p.submitted Your Message Has Been Successfully Received!
.contactform
  header
    h1 Contact Me
  p.required Required fields are marked with
  form(action='/addContact' method='POST')
    label.required(for='postTitle') Title:
    br
    input#postTitle(type='text' name='postTitle' required='')
    br
    br
    label.required(for='email') Email:
    br
    input#email(type='email' name='email' required='')
    br
    br
    label.required(for='username') Username:
    br
    input#username(type='text' name='username' required='')
    br
    br
    label(for='link') Link:
    br
    input#link(type='url' name='link')
    br
    br
    #radios
      fieldset
        legend.required Category of message:
        input#question(type='radio' name='category' value='question' required='')
        label(for='question') Question
        br
        input#comment(type='radio' name='category' value='comment' required='')
        label(for='comment') Comment
        br
        input#concern(type='radio' name='category' value='concern' required='')
        label(for='concern') Concern
        br
      span#alert
      br
    label.required(for='message') Message:
    br
    textarea#message(name='message' rows='10' required='')
    br
    br
    input#submit(type='submit')
