<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="styleSheet" href="../resources/css/myStyle.css">
</head>
<body>
    <nav class="navigate">
        <a href="myAboutMe.html" class="navigate">About Me</a>
        <a href="contactMe.html" class="navigate">Contact Me</a>
        <a href="myContacts.html" class="navigate">Contacts</a>
        <a href="myWidgets.html" class="navigate">Widgets</a>
        <a href="login.html" class="navigate">Login</a>
    </nav>
    <section>
        <header><h1 class="name">Log In?</h1></header>
        <div class="login"> 
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>