doctype html
head
  meta(charset='UTF-8')
  title Login
  link(rel='styleSheet' href='/css/myStyle.css')
nav.navigate
  a.navigate(href='myAboutMe') About Me
  a.navigate(href='contactMe') Contact Me
  a.navigate(href='myContacts') Contacts
  a.navigate(href='myWidgets') Widgets
  a.navigate(href='contactLog') Contact Log
  if isLogin
    a.navigate(href='login') #{name}
  else
    a.navigate(href='login') Login
section
  header
  if isLogin 
    h1.name Hi #{name}
  else 
    h1.name Log In?
  .login
    if isLogin
      form(action='/logout' method='POST')
        input#logout(type='submit' value='Logout')
    else 
      form(action='/login' method='POST')
        label(for='username') Username:
        br
        input#username(type='text' name='username')
        br
        label(for='password') Password:
        br
        input#password(type='password' name='password')
        br
        br
        input#login(type='submit' value='Submit')
      