doctype html
head
  meta(charset='UTF-8')
  title Login
  link(rel='styleSheet' href='/css/myStyle.css')
  script(async='' defer='' src='/js/auth.js')
nav.navigate
  a.navigate(href='myAboutMe') About Me
  a.navigate(href='contactMe') Contact Me
  a.navigate(href='myContacts') Contacts
  a.navigate(href='myWidgets') Widgets
  if login
    a.navigate(href='logout') #{name}
  else
    a.navigate(href='login') Login
section
  header
    h1.name Log In?
  .login
    form(action='http://localhost:3005/login' method='POST')
      label(for='username') Username:
      br
      input#username(type='text' name='username')
      br
      label(for='password') Password:
      br
      input#password(type='password' name='password')
      br
      br
      input#login(type='submit' value='Submit')
