<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="styleSheet" href="../resources/css/myStyle.css">
</head>
<body>
    <nav class="navigate">
        <a href="myAboutMe.html" class="navigate">About Me</a>
        <a href="contactMe.html" class="navigate">Contact Me</a>
        <a href="myContacts.html" class="navigate">Contacts</a>
        <a href="myWidgets.html" class="navigate">Widgets</a>
        <a href="login.html" class="navigate">Login</a>
    </nav>
    <section>
        <header><h1 class="name">Hi</h1></header>
        <div class="login"> 
            <button id="logout">Logout</button>
        </div>
    </section>
</body>
</html>