<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Me Page</title>
        <link rel="styleSheet" href="../resources/css/myStyle.css">
    </head>
    <body>
        <nav class="navigate">
            <a href="myAboutMe.html" class="navigate">About Me</a>
            <a href="contactMe.html" class="navigate">Contact Me</a>
            <a href="myContacts.html" class="navigate">Contacts</a>
            <a href="myWidgets.html" class="navigate">Widgets</a>
        </nav>
        <section>
            <header><h1 class="name">Nathan Liang</h1></header>
            <img src="resources/images/cat.jpg" alt="Picture of my cats" id="cat">
            <div class="content"> 
                <div class="box">
                    <header><h2>About me</h2></header><br>
                    <div>
                        <p>I am <strong>Nathan Liang</strong>. I am a current undergraduate student at the University of Minnesota<br>
                        pursing in Bachelor of Science degree in Computer Science.</p>
                        <p>I do not have much experience in web development. This is my first time doing web programming.<br>
                        Therefore, I am very excited to learn some basics about front end languages.</p>
                        <p>The picture above are my cats. The white one is called <em>Diandian</em>, pronounces as "din din". The gold<br>
                        one is called <em>Yuanyuan</em>, it pronounces somewhere along the line of "yen yen".</p>
                    </div>
                </div>
                <div class="box">
                    <header><h2>Schedule</h2></header><br>
                    <div>
                        <ul>
                            <li>
                                CSCI 4131
                            </li>
                            <li>
                                CSCI 4707
                            </li>
                            <li>
                                CSCI 5801
                            </li>
                            <li>
                                CSCI 5115
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>