<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Contact List</title>
        <link rel="styleSheet" href="../resources/css/myStyle.css">
    </head>
    <body>
        <script src="/resources/js/myContacts.js"></script>
        <nav class="navigate">
            <a href="myAboutMe.html" class="navigate">About Me</a>
            <a href="contactMe.html" class="navigate">Contact Me</a>
            <a href="myContacts.html" class="navigate">Contacts</a>
            <a href="myWidgets.html" class="navigate">Widgets</a>
        </nav>
        <section>
            <header><h1>My Primary Contacts</h1></header>
        </section>
        <table class="contactList" id="contactList">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Contact Information</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                <tr class="yellow" id="yellow_sheperd">
                    <td class="name">Daniel Kluver</td>
                    <td class="embed">
                        <address class="location">389 Sheperd Labs<br>100 Union St SE<br>Minneapolis, MN 55455</address>
                        <img src="resources/images/shepherd.jpg" alt="shepherd lab" class="embed" id="sheperd">
                    </td>
                    <td class="contact information">My Course Instructor<br>for CSCI 4131 for Fall<br>2022 Semester</td>
                    <td><a href="mailto:kluver018@umn.edu" class="email">kluver018@umn.edu</a></td>
                    <td><a href="https://cse.umn.edu/cs/faculty" class="website">CSE Instructor List</a></td>
                </tr>
                <tr class="white" id="white_keller">
                    <td class="name">Yao-Yi Chiang</td>
                    <td class="embed">
                        <address class="location">5-191 Keller Hall<br>200 Union St SE<br>Minneapolis, MN 55455</address>
                        <img src="resources/images/keller.jpg" alt="keller hall" class="embed" id="keller1">
                    </td>
                    <td class="contact information">My Course Instructor<br>for CSCI 4707 for Fall<br>2022 Semester</td>
                    <td><a href="mailto:yaoyi@umn.edu" class="email">yaoyi@umn.edu</a></td>
                    <td><a href="https://yaoyichi.github.io/" class="website">Yao-Yi Chiang</a></td>
                </tr>
                <tr class="yellow" id="yellow_apartment">
                    <td class="name">The Link</td>
                    <td class="embed">
                        <address class="location">2929 University Ave SE<br>Minneapolis, MN 55414</address>
                        <img src="resources/images/apartment.jpg" alt="Link Apartment" class="embed" id="apartment">
                    </td>
                    <td class="contact information">The apartment I live in</td>
                    <td><a href="mailto:info@linkliving.com" class="email">info@linkliving.com</a></td>
                    <td><a href="https://www.linkliving.com/apartments/mn/minneapolis/contact-us" class="website">Link Minneapolis</a></td>
                </tr>
                <tr class="white" id="white_bruiniks">
                    <td class="name">One Stop Office</td>
                    <td class="embed">
                        <address class="location">Robert H. Bruininks Hall<br>222 Pleasant St SE #333<br>Minneapolis, MN 55455</address>
                        <img src="resources/images/bruiniks.jpg" alt="bruiniks hall" class="embed" id="bruiniks">
                    </td>
                    <td class="contact information">Information Office for student<br>at the University of Minnesota</td>
                    <td><a href="mailto:onestop@umn.edu" class="email">onestop@umn.edu</a></td>
                    <td><a href="https://onestop.umn.edu/" class="website">Onestop@Umn</a></td>
                </tr>
                <tr class="yellow" id="yellow_keller">
                    <td class="name">Talha Ahsan</td>
                    <td class="embed">
                        <address class="location">2-209 Keller Hall<br>200 Union St SE<br>Minneapolis, MN 55455</address>
                        <img src="resources/images/keller.jpg" alt="keller hall" class="embed" id="keller2">
                    </td>
                    <td class="contact information">TA for my CSCI 4131 for<br>Fall 2022 Semester</td>
                    <td><a href="mailto:ahsan021@umn.edu" class="email">ahsan021@umn.edu</a></td>
                    <td><a href="https://cse.umn.edu/cs/ta" class="website">CSE TA Page</a></td>
                </tr>
            </tbody>
        </table>
        <img src="resources/images/gopher.jpg" alt="gopher Logo" id="picture">
    </body>
</html>