doctype html
head
  meta(charset='UTF-8')
  title My Contact List
  link(rel='styleSheet' href='/css/myStyle.css')
script(src='/js/myContacts.js')
nav.navigate
  a.navigate(href='myAboutMe') About Me
  a.navigate(href='contactMe') Contact Me
  a.navigate(href='myContacts') Contacts
  a.navigate(href='myWidgets') Widgets
  a.navigate(href='contactLog') Contact Log
  if isLogin
    a.navigate(href='logout') #{name}
  else
    a.navigate(href='login') Login
section
  header
    h1 My Primary Contacts
table#contactList.contactList
  thead
    tr
      th Name
      th Location
      th Contact Information
      th Email
      th Website
  tbody
    tr#yellow_sheperd.yellow
      td.name Daniel Kluver
      td.embed
        address.location
          | 389 Sheperd Labs
          br
          | 100 Union St SE
          br
          | Minneapolis, MN 55455
        img#sheperd.embed(src='/images/shepherd.jpg' alt='shepherd lab')
      td.contact.information
        | My Course Instructor
        br
        | for CSCI 4131 for Fall
        br
        | 2022 Semester
      td
        a.email(href='mailto:kluver018@umn.edu') kluver018@umn.edu
      td
        a.website(href='https://cse.umn.edu/cs/faculty') CSE Instructor List
    tr#white_keller.white
      td.name Yao-Yi Chiang
      td.embed
        address.location
          | 5-191 Keller Hall
          br
          | 200 Union St SE
          br
          | Minneapolis, MN 55455
        img#keller1.embed(src='/images/keller.jpg' alt='keller hall')
      td.contact.information
        | My Course Instructor
        br
        | for CSCI 4707 for Fall
        br
        | 2022 Semester
      td
        a.email(href='mailto:yaoyi@umn.edu') yaoyi@umn.edu
      td
        a.website(href='https://yaoyichi.github.io/') Yao-Yi Chiang
    tr#yellow_apartment.yellow
      td.name The Link
      td.embed
        address.location
          | 2929 University Ave SE
          br
          | Minneapolis, MN 55414
        img#apartment.embed(src='/images/apartment.jpg' alt='Link Apartment')
      td.contact.information The apartment I live in
      td
        a.email(href='mailto:info@linkliving.com') info@linkliving.com
      td
        a.website(href='https://www.linkliving.com/apartments/mn/minneapolis/contact-us') Link Minneapolis
    tr#white_bruiniks.white
      td.name One Stop Office
      td.embed
        address.location
          | Robert H. Bruininks Hall
          br
          | 222 Pleasant St SE #333
          br
          | Minneapolis, MN 55455
        img#bruiniks.embed(src='/images/bruiniks.jpg' alt='bruiniks hall')
      td.contact.information
        | Information Office for student
        br
        | at the University of Minnesota
      td
        a.email(href='mailto:onestop@umn.edu') onestop@umn.edu
      td
        a.website(href='https://onestop.umn.edu/') Onestop@Umn
    tr#yellow_keller.yellow
      td.name Talha Ahsan
      td.embed
        address.location
          | 2-209 Keller Hall
          br
          | 200 Union St SE
          br
          | Minneapolis, MN 55455
        img#keller2.embed(src='/images/keller.jpg' alt='keller hall')
      td.contact.information
        | TA for my CSCI 4131 for
        br
        | Fall 2022 Semester
      td
        a.email(href='mailto:ahsan021@umn.edu') ahsan021@umn.edu
      td
        a.website(href='https://cse.umn.edu/cs/ta') CSE TA Page
img#picture(src='/images/gopher.jpg' alt='gopher Logo')
